@tailwind base;
@tailwind components;
@tailwind utilities;

/* Webkit browsers ke liye spinner ko hide karne ke liye */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.slick-slide > div {
  margin: 0 10px
}

.slick-prev{
  left:0rem
}
.slick-next{
  right: 16px;
}

.slick-next, .slick-prev{
  height:2rem;
  width: 2rem;
  border-radius: 50%;
  z-index: 2;
  right: 0;
  visibility: visible !important;
  display: block !important;
  background-color: seashell;
  opacity: 1 !important;
  
  &:hover {
    opacity: 1 !important;
    visibility: visible !important;
    display: block !important;
    background-color: seashell;
  }
}

ul li::marker{
  font-size: 0.8rem;
  font-weight: bold;
}

@keyframes zoom {
  0% {
      transform: scale(0);
      opacity: 0;
  }
  100% {
      transform: scale(1);
      opacity: 1;
  }
}

.element {
  animation-delay: 1s;
  animation: zoom 2s ease forwards;
  animation-timeline:view();
  animation-range:entry 0% cover 30%;
}